@import "theme.scss";

body, html {
	font-family: 'News Cycle', sans-serif !important;
  height: 100% !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'News Cycle', sans-serif !important;
	font-weight: 300;
}

.dignity {
  font-family: "News Cycle", sans-serif !important;
}

blockquote {
	font-size: 18px;
}

.material-icons, .fa {
  vertical-align: middle;
}

.text-center {
	text-align: center;
}

.md-dignity {
  background-color: #607d8b !important;
  color: white !important;
}
md-drawer {
  width: 350px !important ;
}
