<template lang="pug">
.page-container
	md-app
		md-app-toolbar.md-primary.md-medium
			md-button.md-icon-button(@click='menuVisible = !menuVisible')
				md-icon menu

			span.md-title
				i.fas.fa-chess.fa-2x
				| &nbsp; Engenho Novo LLC

		md-app-drawer(:md-active.sync='menuVisible')
			md-toolbar.md-primary(md-elevation='4')
				span.md-title(style="padding-y: 12px;")
					md-icon flash_on
					| &nbsp; Zowie Bowie

			md-list(@click="menuVisible = false")
				md-list-item(to="/")
					md-icon all_inclusive

					span.md-list-item-text Across the Universe

				md-list-item(to="/square2")
					md-icon free_breakfast

					span.md-list-item-text Young Americans

				md-list-item(to="/square3")
					md-icon local_bar

					span.md-list-item-text Wild Is The Wind

				md-list-item(to="/square4")
					md-icon settings_power

					span.md-list-item-text Golden Years

				md-list-item(to="/square5")
					md-icon settings_input_antenna

					span.md-list-item-text Black Country Rock

				md-list-item(to="/square6")
					md-icon motorcycle

					span.md-list-item-text Wild Is The Wind

				md-list-item(to="/square7")
					md-icon my_location

					span.md-list-item-text Space Oddity

				md-list-item(to="/square8")
					md-icon invert_colors
					span.md-list-item-text Suffragette City

				md-list-item(to="/square9")
					md-icon business

					span.md-list-item-text Fame

				md-list-item(to="/square11")
					md-icon tv
					span.md-list-item-text Lady Stardust


		md-app-content
			nuxt
</template>

<style lang="scss" scoped>
	.page-container {
		min-height: 10vh;
	}
	.md-app {
		min-height: 50vh;
		border: 1px solid rgba(#000, .12);
	}

	 // Demo purposes only
	.md-drawer {
		width: 230px;
		max-width: calc(100vw - 125px);
	}
</style>

<script>
export default {
  name: 'Overlap',
  data: () => ({
    menuVisible: false
  })
}
</script>




<style lang="scss" scoped>


html {
	font-family: "News Cycle", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

.bottom-margin {
	margin-bottom: 10px;
}

.top-margin {
	margin-top: 10px;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}

.md-primary {
	background-color: #607D8B !important;
	color: white;
}

md-app-drawer {
	max-width: 400px;
}

</style>
