<template lang="pug">
section.container
	.md-layout.md-alignment-center-center
		.md-layout-item
			h1.md-display-1.dignity(style='color: black; margin-bottom: 0px')
				| Square One

			h2.md-headline(style="margin-bottom: 12px;") Vue Material Nuxt Redux
			|
			blockquote(style='color: black; font-size: 20px; line-height: 1.5')
				| Words are flowing out like endless rain <br>into a paper cup, they slither ...

			md-button.md-accent.md-raised(to='square8')
				md-icon autorenew
				| &nbsp;A Bowie Flow
			p(style='margin-bottom: 25px;')
				i.fas.fa-university.fa-5x
</template>

<script>
export default {
  name: 'Overlap',
  data: () => ({
    menuVisible: false
  })
}
</script>

<style>

.md-display-1 {
	color: black;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title {
	font-family: "News Cycle", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
	display: block;
	font-weight: 300;
	font-size: 100px;
	color: #35495e;
	letter-spacing: 1px;
}

.subtitle {
	font-weight: 300;
	font-size: 42px;
	color: #526488;
	word-spacing: 5px;
	padding-bottom: 15px;
}

.links {
	padding-top: 15px;
}
</style>
