<template lang="pug">
section.container(style="height: calc(100vh - 125px);")
	.md-layout.md-alignment-center-center
		.md-layout-item
			img(src='biohazard.svg', width='125px')

			h1.md-display-1.dignity(style='color: black; margin-bottom: 0px')
				| Makes a Man Think Things Over

			h2.md-headline(style="margin-bottom: 12px;") Vue Material Nuxt Redux
			|
			blockquote(style='color: black; font-size: 20px;')
				| Puts You There Where Things are Hollow

			md-button.md-accent.md-raised(to='square8')
				md-icon autorenew
				| &nbsp; Route Suite
			p(style='margin-bottom: 25px;')
				i.material-icons(style='font-size: 68px;') all_inclusive
</template>

<script>
export default {
  name: 'Overlap',
  data: () => ({
    menuVisible: false
  })
}
</script>

<style>

.md-display-1 {
	color: black;
}

.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.title {
	font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
	display: block;
	font-weight: 300;
	font-size: 100px;
	color: #35495e;
	letter-spacing: 1px;
}

.subtitle {
	font-weight: 300;
	font-size: 42px;
	color: #526488;
	word-spacing: 5px;
	padding-bottom: 15px;
}

.links {
	padding-top: 15px;
}
</style>
